# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/coverage/html/data/repsitory/auth/AuthRepoImpl.dart.func.html
/coverage/html/data/repsitory/auth/AuthRepoImpl.dart.func-c.html
/coverage/html/data/repsitory/auth/AuthRepoImpl.dart.gcov.html
/coverage/html/data/repsitory/auth/index.html
/coverage/html/data/repsitory/auth/index-sort-f.html
/coverage/html/data/repsitory/auth/index-sort-l.html
/coverage/html/domain/common/ApiResult.dart.func.html
/coverage/html/domain/common/ApiResult.dart.func-c.html
/coverage/html/domain/common/ApiResult.dart.gcov.html
/coverage/html/domain/common/index.html
/coverage/html/domain/common/index-sort-f.html
/coverage/html/domain/common/index-sort-l.html
/coverage/html/domain/model/index.html
/coverage/html/domain/model/index-sort-f.html
/coverage/html/domain/model/index-sort-l.html
/coverage/html/domain/model/User.dart.func.html
/coverage/html/domain/model/User.dart.func-c.html
/coverage/html/domain/model/User.dart.gcov.html
/coverage/html/domain/usecase/index.html
/coverage/html/domain/usecase/index-sort-f.html
/coverage/html/domain/usecase/index-sort-l.html
/coverage/html/domain/usecase/LoginUsecase.dart.func.html
/coverage/html/domain/usecase/LoginUsecase.dart.func-c.html
/coverage/html/domain/usecase/LoginUsecase.dart.gcov.html
/coverage/html/presentation/login/index.html
/coverage/html/presentation/login/index-sort-f.html
/coverage/html/presentation/login/index-sort-l.html
/coverage/html/presentation/login/LoginViewModel.dart.func.html
/coverage/html/presentation/login/LoginViewModel.dart.func-c.html
/coverage/html/presentation/login/LoginViewModel.dart.gcov.html
/coverage/html/utils/index.html
/coverage/html/utils/index-sort-f.html
/coverage/html/utils/index-sort-l.html
/coverage/html/utils/StringUtils.dart.func.html
/coverage/html/utils/StringUtils.dart.func-c.html
/coverage/html/utils/StringUtils.dart.gcov.html
/coverage/html/amber.png
/coverage/html/cmd_line
/coverage/html/emerald.png
/coverage/html/gcov.css
/coverage/html/glass.png
/coverage/html/index.html
/coverage/html/index-sort-f.html
/coverage/html/index-sort-l.html
/coverage/html/ruby.png
/coverage/html/snow.png
/coverage/html/updown.png
/coverage/lcov.info
